# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
## 파일 무시
PrivateInfo.java
CreateExam.java
DeleteExam.java
RetrieveExam.java
UpdateExam.java
Main.java
## 폴더 무시
.idea/
out/